
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>DDU ERP</title>
    
    <!-- Plugins Core Css -->
  
    <link href="~/assets/css/form.min.css" rel="stylesheet">
 
    <!-- Plugins Core Css -->
    <link href="~/assets/css/common.min.css" rel="stylesheet">
    <link href="~/assets/css/form.min.css" rel="stylesheet">

    <!-- Custom Css -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <!-- You can choose a theme from css/styles instead of get all themes -->
    <link href="~/assets/css/styles/all-themes.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.29/sweetalert2.all.min.js" integrity="sha512-cgolxBUBvc5yorfBxXYQCvGEaTbZDdRMDjGrMw8h4G01gm/BfHlN8CO3amP68GbNbw8LY5uj/CFW4qpY9lHyPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        .sectionHeader {
             display:flex; 
             justify-content:space-between;
             align-items: center;
        }
        .active {
            color: #b6d2ff !important;
        }
        .header > ul > li {
            color: gray !important;
            font-weight: 300;
        }
        .form-label {
            padding: 0px !important;
        }
        .checkbox-panel {
            margin-left: 17px;
        }
        .circleBorder {
            border: 1px solid;
            padding: 4px;
            border-radius: 50%;
            margin-right: 4px;
            background-color: cornflowerblue;
        }
        .circleBorder i {
            color: white;
        }
        .section-header {
            display: flex;
            justify-content: space-between;
            padding: 4px;
        }
    </style>
    
</head>

<body>
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30">
                <img class="loading-img-spin" src="~/assets/images/loading.png" alt="admin">
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    @Html.Partial("_TopBar.cshtml")
    <!-- #Top Bar -->
    <div>
        <!-- Left Sidebar -->
        @Html.Partial("_Menu.cshtml")
        <!-- #END# Left Sidebar -->
    </div>
    <section class="content">
        <partial name="_Notification" />
        @RenderSection("Content")        
    </section>

    <div class="modal" tabindex="-1" role="dialog" id="form-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
     <!-- Plugins Js -->  
    <script src="~/assets/js/bundles/flatpickr.min.js"></script>
    <script src="~/assets/js/bundles/autosize.js"></script>
    <script src="~/assets/js/common.min.js"></script>
    <!-- Custom Js -->
    <script src="~/assets/js/admin.js"></script>
    <script src="~/assets/js/bundles/echart/echarts.js"></script>
    <script src="~/assets/js/bundles/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/js/pages/index.js"></script>
    <script src="~/assets/js/pages/todo/todo.js"></script>
    <script src="~/assets/js/bundles/dropzone.js"></script>
    <script src="~/assets/js/bundles/flatpickr.min.js"></script>
    <script src="~/assets/js/pages/forms/flatpicker-data.js"></script>
    <script src="~/assets/js/pages/forms/dropzone-data.js"></script>
    <script src="~/assets/js/pages/forms/selectitem-data.js"></script>
    <script src="~/assets/js/pages/forms/basic-form-elements.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.29/sweetalert2.js" integrity="sha512-7d55UBuf00ZDx2Vq6ixYFfC6teVZx85aVXHXg7pafFcrj6yD3HqkiASCsYpZW7wqkT1oyes3lItPXrokMr2pKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)   

</body>

</html>