<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from www.einfosoft.com/templates/admin/atrio/source/lighthr/pages/examples/login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 17 Jun 2022 08:05:14 GMT -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="@RenderBody()" />
    <title>DDU ERP</title>
    <!-- Plugins Core Css -->
    <link href="~/assets/css/common.min.css" rel="stylesheet">
    <!-- Custom Css -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/pages/extra_pages.css" rel="stylesheet" />
</head>

<body>
    <div class="alert alert-primary" role="alert">
      A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div class="loginmain">
        <div class="loginCard">
            <div class="login-btn splits">
                <p>Already an user?</p>
                <button class="active">Login</button>
            </div>
            <div class="rgstr-btn splits">
                <p>Don't have an account?</p>
                <button>Request</button>
            </div>
            <div class="wrapper">
                <form id="login" tabindex="500" method="post" action="@Url.Action("CheckLogin","Home")">
                    <h3>Login</h3>
                    <div class="mail">
                        <input type="email" name="username" class="form-control" required>
                        <label>Mail or Username</label>
                    </div>
                    <div class="passwd">
                        <input type="password" name="password" required>
                        <label>Password</label>
                    </div>
                    <div class="text-end p-t-8 p-b-31">
                        <a href="#">
                            Forgot password?
                        </a>
                    </div>
                    <div class="submit">
                        <button onclick="location.href='@Url.Action("Index","Home")'" class="dark" type="button">Login</button>
                    </div>
                    <div class="flex-c p-b-112">
                        <a href="#" class="login100-social-item bg-fb">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="login100-social-item bg-twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="login100-social-item bg-google">
                            <i class="fab fa-google"></i>
                        </a>
                    </div>
                </form>
                <form id="register" tabindex="502">
                    <h3>Register</h3>
                    <div class="name">
                        <input type="text">
                        <label>Full Name</label>
                    </div>
                    <div class="mail">
                        <input type="email">
                        <label>Mail</label>
                    </div>
                    <div class="uid">
                        <input type="text">
                        <label>User Name</label>
                    </div>
                    <div class="passwd">
                        <input type="password">
                        <label>Password</label>
                    </div>
                    <div class="submit">
                        <button class="dark">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Plugins Js -->
    <script src="~/assets/js/common.min.js"></script>
    <!-- Extra page Js -->
    <script src="~/assets/js/pages/examples/login-register.js"></script>
</body>


<!-- Mirrored from www.einfosoft.com/templates/admin/atrio/source/lighthr/pages/examples/login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 17 Jun 2022 08:05:14 GMT -->
</html>