@model DDU.Models.ViewModelInventory;
@{
    ViewData["Title"] = "Property Management";
    ViewData["name"] = "propertyManagement";
    ViewData["category"] = "inventory";
}

@section Content {
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Property Management</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="#">
                                <i class="fas fa-home"></i> Inventory
                            </a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Property Management</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Your content goes here  -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="profile-tab-box">
                        <div class="p-l-20">
                            <ul class="nav ">
                                    <li class="nav-item tab-all">
                                    <a class="nav-link active show" href="#inventoryItems" data-bs-toggle="tab">
                                            Inventory Items
                                        </a>
                                    </li>
                                    <li class="nav-item tab-all p-l-20">
                                    <a class="nav-link" href="#suppliers" data-info="edulist" data-bs-toggle="tab">Suppliers</a>
                                    </li>
                                    <li class="nav-item tab-all p-l-20">
                                        <a class="nav-link" href="#equipments" data-info="edulist" data-bs-toggle="tab">Equipments</a>
                                    </li>
                                    <li class="nav-item tab-all p-l-20">
                                        <a class="nav-link" href="#costCenter" data-info="edulist" data-bs-toggle="tab">Cost Center</a>
                                    </li>
                                    <li class="nav-item tab-all p-l-20">
                                        <a class="nav-link" href="#budget" data-info="edulist" data-bs-toggle="tab">Budget</a>
                                    </li>
                                    <li class="nav-item tab-all p-l-20">
                                        <a class="nav-link" href="#lookups" data-info="edulist" data-bs-toggle="tab">Lookups</a>
                                    </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="inventoryItems" aria-expanded="true">
                        <div class="row clearfix">
                            <div class="card">
                                <div class="header">
                                    <h2>
                                        <strong>Fixed Assets</strong>
                                    </h2>
                                </div>

                                <div class="body">
                                    <div class="table-responsive">
                                        <table class="table table-hover js-basic-example contact_list">
                                            <thead>
                                                <tr>
                                                    <th class="center"> Organiazation </th>
                                                    <th class="center"> Jobtitle </th>
                                                    <th class="center"> Date from </th>
                                                    <th class="center"> Date to </th>
                                                    <th class="center"> Action</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr class="odd gradeX">
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="suppliers" aria-expanded="true">
                        <div class="row clearfix">
                            <div class="card">
                                <div class="header">
                                    <h2>
                                        <strong>Fixed Assets</strong>
                                    </h2>
                                </div>

                                @await Html.PartialAsync("~/Views/Inventory/Property/Suppliers/List.cshtml", @Model.Suppliers)
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="equipments" aria-expanded="false">

                        <div class="card">
                            <div class="header">
                                <h2>
                                    <strong>Asset Codes</strong>
                                </h2>
                            </div>

                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-hover js-basic-example contact_list">
                                        <thead>
                                            <tr>
                                                <th class="center"> Education Level </th>
                                                <th class="center"> Institute </th>
                                                <th class="center"> Field </th>
                                                <th class="center"> Action </th>
                                            </tr>
                                        </thead>
                                            <tbody>
                                                <tr class="odd gradeX">
                                                    
                                                </tr>
                                            </tbody>
                                    </table>
                                </div>

                            </div>


                        </div>

                    </div>
                    <div class="tab-pane fade" id="costCenter" aria-expanded="false">

                        <div class="card">
                            <div class="header">
                                <h2>
                                    <strong>Property Settings</strong>
                                </h2>
                            </div>

                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-hover js-basic-example contact_list">
                                        <thead>
                                            <tr>
                                                <th class="center"> Organiazation </th>
                                                <th class="center"> Jobtitle </th>
                                                <th class="center"> Date from </th>
                                                <th class="center"> Date to </th>
                                                <th class="center"> Action</th>
                                            </tr>
                                        </thead>

                                            <tbody>
                                                <tr class="odd gradeX">
                                                  
                                                </tr>
                                            </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="budget" aria-expanded="false">

                        <div class="card">
                            <div class="header">
                                <h2>
                                    <strong>Property Settings</strong>
                                </h2>
                            </div>

                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-hover js-basic-example contact_list">
                                        <thead>
                                            <tr>
                                                <th class="center"> Organiazation </th>
                                                <th class="center"> Jobtitle </th>
                                                <th class="center"> Date from </th>
                                                <th class="center"> Date to </th>
                                                <th class="center"> Action</th>
                                            </tr>
                                        </thead>

                                            <tbody>
                                                <tr class="odd gradeX">
                                                  
                                                </tr>
                                            </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="lookups" aria-expanded="false">

                        <div class="card">
                            <div class="header">
                                <h2>
                                    <strong>Property Settings</strong>
                                </h2>
                            </div>

                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-hover js-basic-example contact_list">
                                        <thead>
                                            <tr>
                                                <th class="center"> Organiazation </th>
                                                <th class="center"> Jobtitle </th>
                                                <th class="center"> Date from </th>
                                                <th class="center"> Date to </th>
                                                <th class="center"> Action</th>
                                            </tr>
                                        </thead>

                                            <tbody>
                                                <tr class="odd gradeX">
                                                  
                                                </tr>
                                            </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}