@model string
@{
    ViewData["Title"] = "CREATE ROLE";
    ViewData["category"] = "hr";
}
@section Content {
        <div class="container-fluid">
            <div class="block-header">
              <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <ul class="breadcrumb breadcrumb-style ">
                            <li class="breadcrumb-item">
                                <h4 class="page-title">Create a Role</h4>
                            </li>
                            <li class="breadcrumb-item bcrumb-1">
                                <a href="#">
                                    <i class="fas fa-home"></i> Admin
                                </a>
                            </li>
                            <li class="breadcrumb-item bcrumb-2">
                                <a href="#" onClick="return false;">Role</a>
                            </li>
                            <li class="breadcrumb-item active">Create a Role</li>
                        </ul>
                    </div>
                </div>
            </div>
        @*<h1 class="bg-info text-white">Create a Role</h1>*@
    <a asp-action="Index" class="btn btn-secondary">Back</a>
    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-action="Create" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input name="name" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
    </div>
}
    @section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }